<%= hidden_field(:element, :content_type, :value => 'gallery') %>
  <p>
  	<% @element.content = @element.content.to_i %>
  	<%= select("element", "content", Gallery.all.collect {|p| [ p.title, p.id ] }, { :include_blank => true}) %>
  </p>