/* CLASSES */
.color1 {
	background-image: url(../images/bg_green.png);
}

.color2 {
	background-image: url(../images/bg_yellow.png);
}

body {
  background-color: #fff;
  background-image: url(../images/bg.jpg);
  color: #000000;
}

a {
  color: #000000;
}
