/* CLASSES */
.color1 {
	background-image: url(../images/bg_green.png);
}

.color2 {
	background-image: url(../images/bg_yellow.png);
}

a {
  color: #000000;
}

#page {
  background-image: url(../images/gu_start.png);
}
