/* CLASSES */
.green {
	background-image: url(../images/bg_green.png);
}

.yellow {
	background-image: url(../images/bg_yellow.png);
}

.admin {
  background-color: #ffffff;
  color: #000000;
}

.news_box {
  clear:left;
}

.news_box_picture {
  float:left;
}

.news_box_text {
}

div.news_box_text h1 a {
	text-decoration:none;
	color: #000000;
}
/* IDs */
#sub_head {
  margin-top:30px;
}

#sub_head ul {
  list-style-type: none;
  margin-left:55px;
}

#sub_head ul li {
  display:inline;
}

#sub_head ul li a {
  text-decoration:none;
  color:#000000;
  font-weight:bold;
  font-size:80%;
}

#head {
}

#head img {
  margin:20px 0px 20px 0px;
}

#nav {
}

#nav ul {
	list-style-type: none;
	clear:left;
}

#nav ul li {
	display:inline;
	float:left;
	margin:2px 2px 0px 0px;
}

#nav ul li a {
	text-decoration:none;
	color:#000000;
	font-weight:bold;
	margin:3px;
}

#nav ul li:first-child {
  padding-left:50px;
}

#page {
  background-image: url(../images/gekritzel.png);
  background-repeat:repeat-x;
  position:absolute;
  width:100%;
}

#content_left {
	width:600px;
	margin:80px 0px 0px 80px;
	clear:all;
}

#foot {
  background-color:#000000;
  color:#ffffff;
  clear:left;
}
/* TAGS */
* {
	margin:0px;
	padding:0px;
}
body {
	background-color: #fff;
	background-image: url(../images/bg.jpg);
	color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/*a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }*/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

