/* CLASSES */
.green {
	background-image: url(../images/bg_green.png);
}

.yellow {
	background-image: url(../images/bg_yellow.png);
}

.c {
  float:left;
  overflow:hidden;
}

.r {
  clear:left;
}

.fixed_height {
  height:400px;
}


.date {
  font-size: 16px;
}

h1 {
	font-size: 16px;
	font-weight: bold;
}

h1 a {
  text-decoration:none;
	color: #000000;
}

.c_element p {
  padding-bottom:10px;
}

.schedule_box {
	margin-top:2px;
	font-size: 16px;
	width:672px;
}

.schedule_box h1 {
  margin-left:15px;
}

.schedule_box_date {
	font-size: 16px;
	margin-left:15px;
}

.schedule_box_title {
	font-size: 16px;
	font-weight: bold;
}

.c_element {
  width:330px;
  padding:5px;
  margin-bottom:2px;
  margin-left:2px;
}

.c_element_index {
  width:505px;
  height:110px;
  float:left;
  margin-left:2px;
  margin-bottom:2px;
}

.pad {
  padding:5px;
}

/* IDs */
#sub_head {
  margin-top:25px;
}

#sub_head ul {
  list-style-type: none;
  margin-left:79px;
}

#sub_head ul li {
  display:inline;
}


#head {
}

#head img {
  margin:28px 0px 10px 0px;
}

#nav {
  height: 100px;
}

.nav ul {
	list-style-type: none;
	clear:left;
}

.nav ul li {
	display:inline;
	float:left;
	margin:2px 2px 0px 0px;
}

.nav ul li:first-child {
  padding-left:76px;
}

.subnav ul {
  list-style-type: none;
  clear:left;
}

.subnav ul li {
  display:inline;
  float:left;
  margin:2px 2px 0px 0px;
}

.subnav ul li:first-child {
  padding-left:76px;
}

#page {
  background-image: url(../images/gekritzel.png);
  background-repeat:repeat-x;
  position:absolute;
  width:100%;
}

#content {
  margin:0px 0px 0px 80px;
}

#foot {
  background-color:#000000;
  color:#ffffff;
  clear:left;
}

#flash {
  background-color: green;
  color: white;
  margin:10px;
  width:660px;
}
#flash p {
  padding:10px;
  font-weight:bold;
}

#user_panel {
  background-color: white;
  padding:10px;
  margin:0px 76px;
}

/* ADMIN */

.admin_control {
  background-color: #ffffff;
  color: #000000;
}

.admin {
  width:650px;
  background-color: #ffffff;
  color: #000000;
  padding:5px;
  margin:2px;
}

.admin h2 {
  line-height:250%;
}

.admin_panel {
  position:absolute;
  margin-left:550px;
}

.admin_element {
  border:1px dotted black;
  padding:10px;
  margin:10px;
}

/* TAGS */
* {
	margin:0px;
	padding:0px;
}
body {
	background-color: #fff;
	background-image: url(../images/bg.jpg);
	color: #000000;
}

body, p, ol, ul, td {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

img { border:none; }

/*a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }*/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

