/* CLASSES */
.green {
	background-image: url(../images/bg_green.png);
}

.yellow {
	background-image: url(../images/bg_yellow.png);
}

.admin_control {
  background-color: #ffffff;
  color: #000000;
}

.admin {
  background-color: #ffffff;
  color: #000000;
  padding:5px;
  margin:2px;
}

.admin h2 {
  line-height:250%;
}

.element {
  border:1px dotted black;
  padding:10px;
  margin:10px;
}

.news_box {
  clear:left;
  margin-bottom:2px;
}

.news_box img {
  float:left;
}

.fixed_height {
  height:110px;
}

.news_box_text {
  margin-left:165px;
}

.news_box_text p, h1{
  margin-left:15px;
}

.news_box_text_date {
  font-size: 16px;
}

div.news_box_text h1 {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

div.news_box_text h1 a {
  text-decoration:none;
  color: #000000;
}

.admin_panel {
  position:absolute;
  margin-left:550px;
}
/* IDs */
#sub_head {
  margin-top:25px;
}

#sub_head ul {
  list-style-type: none;
  margin-left:79px;
}

#sub_head ul li {
  display:inline;
}

#sub_head ul li a {
  text-decoration:none;
  color:#000000;
  font-size:11px;
  font-weight:bold;
}

#head {
}

#head img {
  margin:28px 0px 10px 0px;
}

#nav {
}

#nav ul {
	list-style-type: none;
	clear:left;
}

#nav ul li {
	display:inline;
	float:left;
	margin:2px 2px 0px 0px;
}

#nav ul li a {
	text-decoration:none;
	color:#000000;
	font-size: 14px;
	font-weight:bold;
	margin:3px;
}

#nav ul li:first-child {
  padding-left:76px;
}

#page {
  background-image: url(../images/gekritzel.png);
  background-repeat:repeat-x;
  position:absolute;
  width:100%;
}

#content_left {
	width:665px;
	margin:80px 0px 0px 80px;
	clear:all;
}

#foot {
  background-color:#000000;
  color:#ffffff;
  clear:left;
}
/* TAGS */
* {
	margin:0px;
	padding:0px;
}
body {
	background-color: #fff;
	background-image: url(../images/bg.jpg);
	color: #333;
}

body, p, ol, ul, td {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/*a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }*/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

