/* CLASSES */
.color1 {
  background-image: url(../images/bg_red.png);
}

.color2 {
  background-image: url(../images/bg_black.png);
}

body {
  color: #ffffff;
}

a {
  color: #ffffff;
}

#page {
  background-image: url(../images/gu_projects.png);
}
