<h1 class="c_element_head color2">Anfahrt</h1>
<div class="r">
	<div class="c_element_show color2">
	  <%= link_to image_tag('karte.png'),'http://www.openstreetmap.org/?mlat=51.329903&mlon=12.330959&zoom=18&layers=B000FTF' %>
		<p>Bild: &copy; <%= link_to 'OpenStreetMap', 'http://www.openstreetmap.org/' %> und Mitwirkende, <%= link_to 'CC-BY-SA', 'http://creativecommons.org/licenses/by-sa/2.0/' %></p>
	</div>
</div>
