  <div class="c">
    <div class="c_element_no_left color2">
       <p>EEG (essential existence gallery)<br />
          Galerie für Interaktive Kunst und Neue Medien<br />
          WESTWERK Leipzig-Plagwitz, Tor B<br />
          Gebäude Karl-Heine-Straße 93<br />
          04229 Leipzig</p>
        <p>http://www.eexistence.de</p>
    </div>
  </div>
  <div class="c">
    <div class="c_element color2">
      <p>
        Öffnungszeiten<br />
        Dienstag-Freitag 11-18<br />
        Samstag 12-16
      </p>
      <p>
        Kontakt<br />
        Ariane Jedlitschka<br />
        +49178 475 46 69<br />
        ariane(at)eexistence(dot)de
      </p>
      <p>
        Trägerverein<br />
        HELDEN WIDER WILLEN e.V.<br />
        Holbeinstr. 28A<br />
        04229 Leipzig<br /><br />
        http://www.heldenwiderwillen.com
      </p>
    </div>
  </div>
  <div class="c" style="clear:left;">
  <div class="c_element_show color2">
    <p>Die vom Betreiber dieser Seite erstellten Inhalte wurden sorgfältig
      geprüft und nach bestem Wissen erstellt. Für die hier angebotenen
      Informationen wird aber kein Anspruch auf Vollständigkeit, Aktualität
      und Richtigkeit erhoben. Es kann keine Verantwortung für Schäden
      übernommen werden. Der Betreiber der Webseite behält sich das Recht
      vor, Inhalte nach belieben zu ändern, löschen oder unzugänglich zu machen.
      Mit Urteil vom 12. Mai 1998 - 312 O 85/98 - »Haftung für Links« hat
      das Landgericht Hamburg entschieden, dass man durch die Anbringung
      eines Links die Inhalte der gelinkten Seite ggf. mit zu verantworten
      hat. Dies kann nur dadurch verhindert werden, dass man sich ausdrücklich
      von diesen Inhalten distanziert.Hiermit distanziert sich der Betreiber
      ausdrücklich von allen Inhalten aller gelinkten Seiten auf dieser
      Webseite und macht sich diese Inhalte nicht zu eigen.
      Diese Erklärung gilt für alle auf den Seiten angebrachten Links.
    </p>
  </div>
  </div>
