<div class="c">
  <div class="c_element color2">
    <h1>Ein Experiment zwischen Kunst und Technologie.</h1>
    <p>Die EEG ist ein freier Projekt- und Ausstellungsraum für Kunst und Künstler,
      Kreative und technologisch Interessierte, die zusammen an Projekten, Ausstellungen,
      Workshops und Podien arbeiten wollen. Theoretische Themen aus verschiedenen Bereichen
      der Gesellschaft spielen ebenso eine Rolle, wie feste Prinzipien unserer Zusammenarbeit,
      - Offenheit, Sharing und Kooperation.
    </p>
    <p>Wir untersuchen die gesellschaftlichen Auswirkungen der Weltveränderungsmaschine Internet
      und fragen, wie das Netz unsere Gesellschaft, Politik und Kultur umgestaltet.
    </p> 
    <p>Wir veranstalten Konzerte, Ausstellungen, Workshops, projektbezogene Co-Workingspaces
      und noch einiges mehr – alles im Bereich Technologie und Kunst. Daraus ergibt sich auch
      die Aufgabe, die künstlerischen Praktiken auf das Potential der digitalen Techniken zu
      beziehen und die traditionellen Gattungen der Künste in ein Verhältnis zu setzen zu den
      neuen Ausdrucksformen der Medienkünste. Wir verfolgen dabei aber eine interdisziplinären
      Ansatz unter besonderer Berücksichtigung der Theorie der Ästhetik bis zu den heute relevanten
      Kunst- und Kulturdiskursen.
    </p>
    <p>In der EEG zirkulieren Projekte rund um:
      <ul>
        <li>elektronische Theorie und Soundumgebungen</li>
        <li>digitale und interaktive Visualisierungen, Bild- und Medientheorie, Medienkunst und Ästhetik</li>
        <li>performative Architektur, Design und Kunst</li>
        <li>freie Lizenzen und Kunst im öffentlichen Raum</li>
      </ul>
    </p>
    <p>In der EEG können wir gemeinsam alles machen, um die Grenzen zwischen Kunst und Technik auszuloten.
      Hier können wir experimentieren, entwickeln und Ideen und Projekte weiter entwickeln.</p>
    <p>Die EEG ist ein Verein und wird von seinen Mitgliedern betrieben.Wenn du mitmachen möchtest,
      dann melde Dich einfach!
    </p>
    <p>Unsere Kompetenzen sind:
      <ul>
        <li>Bereitschaft zu interdisziplinärer Teamarbeit</li>
        <li>didaktische Kompetenzen und die Fähigkeit zur Auseinandersetzung mit virtueller und visueller Kultur</li>
        <li>Konzeption und Durchführung von (auch transdisziplinären) Forschungsprojekten</li>
        <li>Projektberatung für Kunst- und Forschungsprojekte</li>
      </ul>
    </p>
  </div>
</div>
<div class="c">
  <div class="c_element color2">
    <h1>An experiment between art and technology.</h1>
    <p>The EEG is an alternative space for art and artists, creative professionals and people
      interested in new media and technologies. We are interested in cooperation for projects,
      exhibitions, workshops, lectures and congresses. We work for theoretical impact from different
      parts of society as well as for the preservation of our principles, like – open source,
      sharing and cooperation.
    </p>
    <p>We look at effects of the world-changing-machine Internet and ask: How does the internet
      change our society, politics and our culture?
    </p>
    <p>We arrange concerts, exhibitions, workshops, projectbased coworking spaces and further
      more – related to the sectors of art and technologies. That implies the endeavor, to refer
      the cultural practices to digital technologies and to set traditional genres of art in
      proportion to the new possibilities of media art. For this we pursue a interdisciplinary
      character with special allowance of the theory of the aesthetics up to the todays actual
      art and cultural dicourses.
    </p>
    <p>In the EEG projects circulate around:
      <ul>
        <li>electronic theory and sound environments</li>
        <li>digital and interactive visuals, image and media theory, media arts aesthetics</li>
        <li>performative architecture, design and art</li>
        <li>open content and free licenses</li>
        <li>art in public space</li>
      </ul>
    </p>
    <p>If you want to be part of it; join us!</p>
    <p>Our skills are:
      <ul>
        <li>disposition to interdisciplinary teamwork</li>
        <li>broad competence in teaching and didactics</li>
        <li>facility to deal with virtual and visual culture</li>
        <li>Conception and implementation of pilot projects.</li>
        <li>For art projects we offer project advising, complete planning and support services.</li>
      </ul>
   </p>
  </div>
</div>
