<div class="schedule_box yellow">
	<h1>PROGRAMM</h1>
</div>
<% @dates.each do |date| %>
  <div class="schedule_box yellow">
  	<p><span class="schedule_box_date"><%=h date.date_from.strftime("%d.%m.%Y") %></span> <span class="schedule_box_title"><%=h date.title %></span></p>
  </div>
<% end %>
