<div class="c width_300" style="margin-left:60px;">
<% pics.each_index do |i| %>
<% if signed_in? %>
  <div class="admin_panel" style="margin-left:200px;">
    <%= link_to 'Edit', edit_sidepic_path(pics[i]), :class => 'admin_control' %>
    <%= link_to 'Destroy', pics[i], :confirm => 'Are you sure?', :method => :delete, :class => 'admin_control' %>
  </div>
<% end %>
<%= link_to image_tag(Picture.find(pics[i].picture_id).data.url(:medium), :style => "display:block;"), pics[i].link %><%= '</div><div class="c width_300">' if (i) % 5 == 4 and i != 24 %>
<% end %>
</div>