<h1>Editing member</h1>

<% form_for @member, :html => { :multipart => true } do |f| %>
  <%= render :partial => 'formfields', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @member %> |
<%= link_to 'Back', members_path %>
